{% extends "usuario/perfil.html" %}

{% block subcontent %}
<h4>Detalle de {{ compra }}</h4>
    <div class="row pt-3">
        <div class="col-md-9 container">
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>Tienda:</strong>
                </label>
                <div class="col-sm-9">
                    petStore
                </div>
            </div>
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>Estado:</strong>
                </label>
                <div class="col-sm-9">
                    {{ estados|get_value:compra.estado }}
                </div>
            </div>
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>Fecha:</strong>
                </label>
                <div class="col-sm-9">
                    {{ compra.fecha }}
                </div>
            </div>
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>Nombre:</strong>
                </label>
                <div class="col-sm-9">
                    {{ compra.nombre }}
                </div>
            </div>
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>NIT:</strong>
                </label>
                <div class="col-sm-9">
                    {{ compra.nit }}
                </div>
            </div>
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>Dirección:</strong>
                </label>
                <div class="col-sm-9">
                    {{ compra.direccion }}
                </div>
            </div>
            {% if compra.telefono %}
            <div class="row pt-2">
                <label class="col-sm-2 text-end">
                    <strong>Teléfono:</strong>
                </label>
                <div class="col-sm-9">
                    {{ compra.telefono }}
                </div>
            </div>
            {% endif %}
            <br>
            <table class="table table-hover">
                <thead>
                    <th>Cant.</th>
                    <th>Descripción</th>
                    <th>P. Unitario</th>
                    <th>Subtotal</th>
                </thead>
                <tbody>
                    {% for item in detalles %}
                    <tr>
                        <td>{{ item.cantidad }}</td>
                        <td>{{ item.producto.nombre }}</td>
                        <td>{{ item.producto.moneda }} {{ item.producto.precio }}</td>
                        <td>{{ item.producto.moneda }} {{ item.total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <th></th>
                    <th></th>
                    <th>Total</th>
                    <th>Q {{ compra.total }}</th>
                </tfoot>
            </table>
            <div class="text-center pt-2">
                <a href="/perfil/compras/" class="btn btn-warning btn-block">Volver al listado de compras</a>
                {% if compra.estado == '1' %}
                <a href="/perfil/compras/cancelar/{{ compra.id }}/" class="btn btn-danger">Cancelar pedido</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
