{% extends "base.html" %}
{% load static %}


{% block title %}Tarjetas Gráficas{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">NVIDIA</span>
                    <span class="card-notify-year"><strong>-20%</strong></span>
                    <img src="https://cdnx.jumpseller.com/sepuls/image/24286236/resize/255/255?1658985813" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">  $2.000.000  </span>
                    <span class="card-detail-badge1"> <del>$2.500.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>RTX 3090 ti</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">AMD RADEON</span>
                    <span class="card-notify-year"><strong>-15%</strong></span>

                    <img src="https://cdnx.jumpseller.com/sepuls/image/24315023/Radeon__RX_6500_XT_GAMING_OC_4G-01.png?1658985606" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">  $280.000  </span>
                    <span class="card-detail-badge1"> <del>$330.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>AMD RADEON 6500 xt</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">NVIDIA</span>
                    <span class="card-notify-year"><strong>-15%</strong></span>

                    <img src="https://www.zotac.com/pk/system/files/styles/w1024/private/product_gallery/graphics_cards/zt-d40900d-10p-image01_0.jpg?itok=Vq4HtChG" width="100%" height="120%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">  $2.355.000  </span>
                    <span class="card-detail-badge1"> <del>$2.555.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>RTX 4090</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>

    <!--* fin ofertas-->

    <link rel="stylesheet" href="/static/css/destacados.css">
    <div class="container">
        <br>
        <div class="row" id="ads">
        <!-- Category Card -->
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">NVIDIA</span>
                    <span class="card-notify-year"><strong>-30%</strong></span>
                    <img src="https://http2.mlstatic.com/D_NQ_NP_924906-MLA51231267460_082022-O.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">  $290.000  </span>
                    <span class="card-detail-badge1"> <del>$350.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>RTX 3050</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">NVIDIA</span>
                    <span class="card-notify-year"><strong>-10%</strong></span>

                    <img src="https://www.tytchilespa.cl/Home/img/p/7/5/9/8/7598-large_default.jpg" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">  $110.000  </span>
                    <span class="card-detail-badge1"> <del>$125.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>GT 1030</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card rounded">
                <div class="card-image">
                    <span class="card-notify-badge">INTEL ARC</span>
                    <span class="card-notify-year"><strong>-10%</strong></span>

                    <img src="https://www.asrock.com/Graphics-Card/photo/Intel%20Arc%20A750%20Challenger%20D%208GB%20OC(M1).png" width="100%" height="100%" alt="Alternate Text" />
                </div>
                <div class="card-image-overlay m-auto">
                    <span class="card-detail-badge">  $315.000  </span>
                    <span class="card-detail-badge1"> <del>$350.000 </del></span>
                </div>
                <div class="card-body text-center">
                    <div class="ad-title m-auto">
                        <h5>ARC A750</h5>
                    </div>
                    <a class="ad-btn" href="#">Ver</a>
                </div>
            </div>
        </div>
    
    </div>
    </div>
    
{% endblock main %}
