{% extends "base.html" %}

{% block title %}petStore{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/fundaciones.css">



  
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" >
    
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
    
    
        
    
    
    
    
    <section class="py-5 bg-1 text-white">
        <div class="container py-5">
           <div class="row">
                <div class="col-md-6">
                    <p>BEST APP LANDING</p>
                    <h1>Passing Your Apps Life With Our Applic</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
    
                </div>
                <div class="col-md-6 d-none d-lg-block">
                    <div class="welcome-layer-3 ">
                        <div class="home3-layer-1 wow fadeInRight" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
                        <img src="http://quomodosoft.com/html/applic/applic/assets/img/screenshots/screenshot-2.png" alt="" class="div-img">
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>   
    </section>
    <section class="py-5 bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://quomodosoft.com/html/applic/applic/assets/img/about/green-about-mockup.png">
                </div>
                <div class="col-md-6">
                    <p>WORKING PROGRESS</p>
                    <h1>How Does This Apps Works</h1>
                    <b>Create Account</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
                    <b>Create Account</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
                    <b>Create Account</b>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>WORKING PROGRESS</p>
                    <h1>Engage Your Service Automatically</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerce.</p>
                    <ul>
                        <li> Good Design Quality</li>
                        <li>  Low Price</li>
                        <li>  User Friendly</li>
                        <li>  Easy Editable</li>
                    </ul>
                    <button type="button" class="btn btn-sm btn-success">Getting Started</button>
                    
                </div>
                <div class="col-md-6">
                    <img src="http://quomodosoft.com/html/applic/applic/assets/img/screenshots/screenshot-1.png">
                </div>
                
            </div>
        </div>
    </section>
    <section class="py-5 bg-2 ">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p>WORKING PROGRESS</p>
                    <h1>How Does Applic Apps Processing Works</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiu smod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exerce.</p>
                   
                   
                    
                </div>
                
                
            </div>
            <div class="row mt-4 text-center">
                <div class="col-md-3">
                    <i class="fa fa-tachometer fa-4x text-success"></i>
                    <h4>Pixel Perfect</h4>
                    <p>Made by professionals</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-tachometer fa-4x text-success"></i>
                    <h4>SEO Ready</h4>
                    <p>Made by professionals</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-tachometer fa-4x text-success"></i>
                    <h4>Product UX</h4>
                    <p>Made by professionals</p>
                </div>
                <div class="col-md-3">
                    <i class="fa fa-tachometer fa-4x text-success"></i>
                    <h4>Web Design</h4>
                    <p>Made by professionals</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="py-5 ">
        <div class="container">
            <div class="row text-center">
                
                <div class="col-md-12">
                    <p>WORKING PROGRESS</p>
                    <h1>Call Us Or Started To Talk With Us</h1>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock main %}
