{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/proveedores.css">
    <div class="row">
        <h1></h1>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>NVIDIA</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de GPU</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://pbs.twimg.com/profile_images/1145524454170062848/U4lxVYEw_400x400.png" alt="purina" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;"> &#9733; &#9733; &#9733; &#9733; &#9733; </p>
                   
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Mas información</a>
                </div>
            </div>
        </div>



        
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Intel</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de CPU</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://pbs.twimg.com/profile_images/1392113684235837450/9PqXFs6w_400x400.jpg" alt="Hill's" height="100%">
                </div>
                <div class="pt-3">
                 
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más infromación</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>AMD</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de CPU y GPU</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://i.etsystatic.com/23511185/r/il/7112ac/2408810313/il_fullxfull.2408810313_kqb8.jpg"alt="nupec" height="100%">
                </div>
                <div class="pt-3">
                  
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733;  &#9733; &#9733; </p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>HyperX</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de RAM</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuE-MHz7Bu6S-pGBf1-U5yvxVL2yYd4pwE1ape24NBhqQLHjx-7m58V-JVNNgzhXFLP04&usqp=CAU" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Kingston</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de Unidades de Almacenamiento</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://cf.shopee.co.th/file/f18f454f41ff8d4c3f56c51ed70899d7"alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                  
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Corsair</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de RAM</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://cdn11.bigcommerce.com/s-fg272t4iw0/images/stencil/1280x1280/products/1837/2090/C-11844__83840.1557814384.jpg?c=2" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>ASUS</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor HW y Dispositivos</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://seeklogo.com/images/A/asus-logo-AAB49D3B3F-seeklogo.com.png" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Western Digital</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de Almacenamiento</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://dojiw2m9tvv09.cloudfront.net/32993/brand/WD-Logo-600x513.jpg" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>EVGA</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de FUENTES DE PODER</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://i.pinimg.com/originals/3f/73/50/3f73505e8ba5cac22084ba75b8b35a36.png" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>GIGABYTE</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de Fuentes de poder y graficas</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://i.pinimg.com/originals/2d/58/81/2d58811ff3b7144766116dac50822eb2.png" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Razer</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de Perifericos y dispositivos</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://ih1.redbubble.net/image.3315496337.3994/pp,840x830-pad,1000x1000,f8f8f8.jpg" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Deep Cool</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de Refrigeracion y gabinetes</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://yt3.ggpht.com/ytc/AMLnZu8HYU2knijjWJZFiF557qPeHIoH2x6XYSw5llBEnQ=s900-c-k-c0x00ffffff-no-rj" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: rgb(134, 6, 130); font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>
        

    </div>

 
{% endblock main %}
