{% extends "base.html" %}
{% load static %}


{% block title %}Proveedores{% endblock title %}


{% block main %}
<link rel="stylesheet" href="/static/css/proveedores.css">
    <div class="row">
        <h1></h1>
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>NVIDIA</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de GPU</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://pbs.twimg.com/profile_images/1145524454170062848/U4lxVYEw_400x400.png" alt="purina" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: yellow; font-size: 30px;"> &#9733; &#9733; &#9733; &#9733; &#9733; </p>
                   
              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Mas información</a>
                </div>
            </div>
        </div>



        
        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Intel</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de CPU</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://pbs.twimg.com/profile_images/1392113684235837450/9PqXFs6w_400x400.jpg" alt="Hill's" height="100%">
                </div>
                <div class="pt-3">
                 
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más infromación</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>AMD</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de CPU y GPU</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://i.etsystatic.com/23511185/r/il/7112ac/2408810313/il_fullxfull.2408810313_kqb8.jpg"alt="nupec" height="100%">
                </div>
                <div class="pt-3">
                  
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; </p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>HyperX</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de RAM</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuE-MHz7Bu6S-pGBf1-U5yvxVL2yYd4pwE1ape24NBhqQLHjx-7m58V-JVNNgzhXFLP04&usqp=CAU" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Kingston</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de Unidades de Almacenamiento</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://cf.shopee.co.th/file/f18f454f41ff8d4c3f56c51ed70899d7"alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                  
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 col-xs-12">
            <div class="bg-light text-center">
                <div class="mt-3 pt-3">
                    <h2>Corsair</h2>
                    <div class="mx-3 px-3">
                        <p class="text-truncate">Proveedor de RAM</p>
                    </div>
                </div>
                <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 200px; border-radius: 21px 21px 0 0;">
                    <img src="https://www.corsair.com/medias/sys_master/images/images/hc3/h75/10044489302046/CORSAIR_logo_stacked_black/CORSAIR-logo-stacked-black.jpg" alt="proveedores" height="100%">
                </div>
                <div class="pt-3">
                    
                    <p style="color: yellow; font-size: 30px;">&#9733; &#9733; &#9733; &#9733;</p>
                   

              
                </div>
                <div class="pb-3">
                    <a class="btn btn-light" style="background-color: #20ae00; color: white;" >Más información</a>
                </div>
            </div>
        </div>

    </div>

 
{% endblock main %}
